# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.env.*
!.env.example    # Permite apenas .env.example
instance/
db.sqlite3
# logs
logs/
*.log
# Docker
*.pid
*.db
backups/

# IDEs/editors
.vscode/
.idea/
*.swp

# Test files
*.coverage
htmlcov/
.tox/
*.cache
pytest_cache/
.mypy_cache/
coverage.xml

# Container artifacts
exitus-backend/
exitus-frontend/
exitus-db/

# OS files
.DS_Store
Thumbs.db
